{% extends 'base.html.twig' %}

{% block title %}Hello MessagesController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% if app.user %}
			<h1>Bienvenue
				{{ app.user.prenom}}! ✅</h1>
		{% endif %}
		{% for message in app.flashes('message') %}
			<div class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 my-10">
				<div class="flex items-center justify-center w-12 bg-green-500">
					<svg class="w-6 h-6 text-white fill-current" viewbox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"/>
					</svg>
				</div>

				<div class="px-4 py-2 -mx-3">
					<div class="mx-3">
						<span class="font-semibold text-green-500 dark:text-green-400">Success</span>
						<p class="text-sm text-gray-600 dark:text-gray-200">{{ message }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		<div>
			<h1>Messsagerie</h1>
			<p>Résumé :</p>
			<p>Reçus :
				{{ app.user.received|length }}
			</p>
			<p>Envoyés:
				{{ app.user.sent|length }}</p>
		</div>
		<div class="flex items-center justify-center py-4 text-center bg-gray-100 dark:bg-gray-700">
			<a href="{{ path('send') }}" class="mx-2 text-sm font-bold text-blue-600 dark:text-blue-400 hover:text-blue-500">Envoyer un message</a>
		</div>
		<div>
			<h2>Voir mes dossiers</h2>
		</div>
		<ul class="list-disc">
			<li>
				<a href=" {{ path('messages') }} ">Acceuil</a>
			</li>
			<li>
				<a href=" {{ path('received') }} ">Boîte de réception</a>
			</li>
			<li>
				<a href=" {{ path('sent') }} ">Messages Envoyés</a>
			</li>
		</ul>


	</div>
{% endblock %}
